body {
  margin: 0px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
  color: #c12a2a;
}
.header{
  background-color: #6485a9;
  color: #3f2285;
  font-size: 24px;
  font-weight: bold;
}
.footer{
  width: 100%;
}
#loader {
  
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}
#loader-image{
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
}